
<div class="sidebar_ms">
    <div class="sidebar-brand">
        <h1><span class="lab la-accusoft"></span>PanicPizza</h1>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a class="active" href=""><span class="las la-igloo"></span> <span>Dashboard</span></a>
            </li>

            <li>
                <a href=""><span class="las la-users"></span> <span>Customers</span></a>
            </li>

            <li>
                <a href=""><span class="las la-user-circle"></span> <span>Stats</span></a>
            </li>

            <li>
                <a href="/Home/Menu"><span class="las la-apple-alt"></span> <span>Menu</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <header>
        <h3>
            <label for="nav-toggle">
                <a href="/"><i class="las la-sign-out-alt"></i></a>
            </label>
            Exit
        </h3>
        <div class="search-wrapper">
            <span class="las la-search"></span>
            <inpt type="text">Search now</inpt>
        </div>
        <div class="user-wrapper">
            <img src="" alt="" width="40px" height="30px" />
            <div>
                <h4>Luigi</h4>
                <small>Admin</small>
            </div>
        </div>
    </header>
